$borderColor: rgb(34, 34, 34);
$diceSize: 80px;

$green: rgb(51, 151, 51);
$blue: rgb(62, 62, 254);
$yellow: rgb(255, 255, 66);
$red: rgb(253, 72, 72);

img.kill {
    height: 40px;
    width: 40px;
}

div.kill {
    // mask: url(images/skull.svg) no-repeat center;
    background-image: url(images/skull.svg);
    object-fit: contain;
    height: 40px;
    width: 40px;
    position: relative;
    svg {
        position: absolute;
    }
    &.green {
        svg {
            #skull {
                fill: $green !important;
            }
        }
    }
    &.blue {
        svg {
            #skull {
                fill: $blue !important;
            }
        }
    }
    &.yellow {
        svg {
            #skull {
                fill: $yellow !important;
            }
        }
    }
    &.red {
        svg {
            #skull {
                fill: $red !important;
            }
        }
    }
}

.game-surface {
    display: flex;
    justify-content: center;
    .side-surface {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem;
        .player-surface {
            width: 100px;
            height: 100%;
            display: flex;
            flex-direction: row;
            span {
                // line-height: 3rem;
                font-size: 2rem;
            }
        }
        .green-surface {
        }
        .yellow-surface {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
        .red-surface {
        }
        .blue-surface {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    }
}

game {
    display: flex;
    justify-content: center;
    margin: 2rem;
    .board {
        background-color: white;
        border-radius: 5px;
        border: 2px solid $borderColor;
        .home {
            fill: white;
            stroke: $borderColor;
            stroke-width: 2px;
            &[player="green"] {
                fill: $green;
            }
            &[player="red"] {
                fill: $red;
            }
            &[player="yellow"] {
                fill: $yellow;
            }
            &[player="blue"] {
                fill: $blue;
            }
        }
        .home-base {
            fill: white;
            stroke: $borderColor;
        }
        .finish {
            stroke: $borderColor;
            stroke-width: 1px;
            &.green {
                fill: $green;
            }
            &.red {
                fill: $red;
            }
            &.blue {
                fill: $blue;
            }
            &.yellow {
                fill: $yellow;
            }
        }
        .cell {
            fill: white;
            stroke: $borderColor;
            stroke-width: 1px;
            &[safe="true"] {
                fill: rgb(205, 205, 205);
            }
            &.green.finish {
                fill: $green;
            }
            &.red.finish {
                fill: $red;
            }
            &.yellow.finish {
                fill: $yellow;
            }
            &.blue.finish {
                fill: $blue;
            }
            &[cell="2"] {
                fill: $green;
            }
            &[cell="15"] {
                fill: $red;
            }
            &[cell="28"] {
                fill: $blue;
            }
            &[cell="41"] {
                fill: $yellow;
            }
        }
        .player {
            stroke: $borderColor;
            stroke-width: 2px;
            stroke-linejoin: round;
            cursor: pointer;
            &.green {
                fill: $green;
            }
            &.red {
                fill: $red;
            }
            &.yellow {
                fill: $yellow;
            }
            &.blue {
                fill: $blue;
            }
            &:hover {
                filter: grayscale(100%);
            }
            &[highlight="true"] {
                animation: flicker 1s infinite linear;
            }
        }
    }
}

dice {
    display: flex;
    justify-content: center;
    padding: 1rem;
    #dice-container[active="false"] {
        pointer-events: none;
        .dice {
            border: 2px solid grey;
        }
    }
    .dice-container {
        &[player="green"] {
            .dice {
                background-color: $green;
            }
        }
        &[player="red"] {
            .dice {
                background-color: $red;
            }
        }
        &[player="yellow"] {
            .dice {
                background-color: $yellow;
                color: black;
            }
        }
        &[player="blue"] {
            .dice {
                background-color: $blue;
            }
        }
        .dice {
            cursor: pointer;
            padding: 1rem;
            width: $diceSize;
            height: $diceSize;
            border-radius: 10%;
            border: 2px solid $borderColor;
        }
        .face1 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .face0 {
            color: white;
            font-weight: 600;
            display: flex;
            font-size: 1.3rem;
            justify-content: center;
            align-items: center;
        }
        .dot{
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color:white;
            border: 2px solid $borderColor;
        }
        .face2{
            display: flex ;
            justify-content: space-between;
        }
        .face2 .dot:nth-of-type(2) {
            align-self: flex-end;
        }
        .face3 {
            display: flex;
            justify-content: space-between;
        }
        .face3 .dot:nth-of-type(1) {
            align-self :flex-end;
        }
        .face3 .dot:nth-of-type(2) {
            align-self :center;
        }
        .face4 , .face6, .face5{
            display: flex;
            justify-content: space-between;
        }
        .face4 .column , .face6 .column, .face5 .column{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .face5 .column:nth-of-type(2) {
            justify-content: center;
        }
    }
}

#current-player {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fffbf7;
    margin: 0;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes flicker {
    0% {
        stroke: black;
        filter: grayscale(100);
    }
    50% {
        stroke: white;
        filter: grayscale(0);
    }
    100% {
        stroke: black;
        filter: grayscale(100);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}

.title-container {
    display: flex;
    justify-content: center;
    h1.title {
        margin: 0;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto auto;
        width: 6rem;
        height: 6rem;
        padding: 0.5rem;
        background-color: #ffe8ca;
        border: 3px solid #ffb85a;
        border-radius: 5px;
        div {
            line-height: 3rem;
            // text-decoration: line-through overline;
            -webkit-text-stroke: $borderColor;
            -webkit-text-stroke-width: 1px;
            text-align: center;
            font-size: 3rem;
            &.l {
                color: $green;
            }
            &.u {
                color: $red;
            }
            &.d {
                color: $yellow;
            }
            &.o {
                color: $blue;
            }
        }
    }
}
